%h2 商品送付先住所情報登録
= form_for(@address, url:addresses_path, method: :post) do |f|
  = render "devise/shared/error_messages", resource: @address
  .field
    = f.label :名前漢字
    %br/
    = f.text_field :destination_first_name
  .field
    = f.label :名字漢字
    %br/
    = f.text_field :destination_family_name
  .field
    = f.label :名前かな
    %br/
    = f.text_field :destination_first_name_kana
  .field
    = f.label :名字かな
    %br/
    = f.text_field :destination_family_name_kana
  .field
    = f.label :郵便番号ハイフンなし7ケタ
    %br/
    = f.number_field :post_code
  .field
    = f.label :都道府県
    %br/
    = f.select :prefecture, Address.prefectures.keys,{}
  .field
    = f.label :市町村
    %br/
    = f.text_field :city
  .field
    = f.label :番地
    %br/
    = f.text_field :house_number
  .field
    = f.label :マンション建物名
    %br/
    = f.text_field :building_name
  .field
    = f.label :電話番号
    %br/
    = f.number_field :phone_number
  .actions
    = f.submit "Sign up"

= render "devise/shared/links"
