.accountRegistration
  .accountRegistration__title
    = link_to image_tag('logo.png',  class: 'pic1'), root_path
  .accountRegistration__title
    %h2 商品送付先住所情報登録
  = form_for(@address, url:addresses_path, method: :post) do |f|
    = render "devise/shared/error_messages", resource: @address
    .FormField
      .FormField__label--normal
        = f.label :名前漢字
        %span.requireBox
          必須
      .FormField__input--normal
        = f.text_field :destination_first_name
      .FormField__label--normal
        = f.label :名字漢字
        %span.requireBox
          必須
      .FormField__input--normal
        = f.text_field :destination_family_name
      .FormField__label--normal
        = f.label :名前かな
        %span.requireBox
          必須
      .FormField__input--normal
        = f.text_field :destination_first_name_kana
      .FormField__label--normal
        = f.label :名字かな
        %span.requireBox
          必須
      .FormField__input--normal
        = f.text_field :destination_family_name_kana
      .FormField__label--normal
        = f.label :郵便番号ハイフンなし7ケタ
        %span.requireBox
          必須
      .FormField__input--normal
        = f.number_field :post_code
      .FormField__label--normal
        = f.label :都道府県
        %span.requireBox
          必須
      .FormField__input--normal
        -# = f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank: "選択してください"}, {class: "prefectureChoiceList"}) 
        = f.select :prefecture, Address.prefectures.keys,{},class: 'prefecture-select'
      .FormField__label--normal
        = f.label :市町村
        %span.requireBox
          必須
      .FormField__input--normal
        = f.text_field :city
      .FormField__label--normal
        = f.label :番地
        %span.requireBox
          必須
      .FormField__input--normal
        = f.text_field :house_number
      .FormField__label--normal
        = f.label :マンション建物名
      .FormField__input--normal
        = f.text_field :building_name
      .FormField__label--normal
        = f.label :電話番号
      .FormField__input--normal
        = f.number_field :phone_number
    .actions
      = f.submit "Sign up", class: "Button"

    //= render "devise/shared/links"
