.myPage
  = render "items/header-mypage"
  .myPage__main
    .myPageLeft
      = render 'sideBox'
    .myPageRight
      .myPageRight__info    
        .myPageRight__info__pic
          = image_tag 'background.png', class: 'mypage-pic'
          .myPageRight__info__pic__inner
            = image_tag 'toshiki-no-pic.jpg', class: 'mypage-pic2'
            %br
            = current_user.nickname
            %br
            イイね数8   出品数6
        .myPageRight__info__profile
          .myPageRight__info__profile__title
            プロフィール
          .myPageRight__info__profile__list
            筋トレグッズを中心に出品しています
        .myPageRight__info__news
          .myPageRight__info__news__title
            お知らせ
          .myPageRight__info__news__list
            今週中にお買い物すると500pプレゼント！
          .myPageRight__info__news__list
            明日の12:00にCP発表
          .myPageRight__info__news__list
            お友達紹介 de 100pキャンペーン！
          .myPageRight__info__news__list
            新型コロナウイルスに伴ううがい薬の出品について

= render "items/footer"