.myPage
  .myPage__header
    .myPage__headerTop
      .myPage__headerLogo
        = link_to image_tag('logo.png',  class: 'pic1'), root_path
      .myPage__headerSearchbox
        %input{ class: "headerSearchbox", placeholder: "何かお探しですか？"}
          
    .myPage__headerMiddle
      .myPage__headerSearchL
        .myPage__headerSearchbox
          =icon('fas','list', class: "category-icon")
          カテゴリー
        .myPage__headerSearchbox
          =icon('fas','shopping-bag', class: "brand-icon")
          ブランド
      .myPage__headerSearchR
        .myPage__headerSearchbox
          イイね！一覧
        .myPage__headerSearchbox
          お知らせ
        .myPage__headerSearchbox
          to doリスト
        .myPage__headerSearchbox
          マイページ
    .myPage__headerBottom
      .myPage__headerCategoryL   
        .myPage__headerCategory
          =link_to "FURIMA", "#"
          =icon('fas','chevron-right')
          =link_to "マイページ", "#" 

  .myPage__main
    .myPage__leftBox
      .myPage__indexBox
        = render 'sideBox'
    .myPage__rightBox
      .myPage__infoBox    
        .myPage__picBox
          = link_to image_tag 'background.png', class: 'pic2'
          .myPage__picinBox
            = image_tag 'toshiki-no-pic.jpg', alt: '失敗', height: '100%', width: '100%', class: 'pic3'
        .myPage__nameBox
          = current_user.nickname
          .myPage__name
            .myPage__in
              イイね数 8  
            .myPage__in
              出品数 6
          //= current_user.name イイね数
        .myPage__contentinfo
          .myPage__contentinfo__profile
            プロフィール
          .myPage__contentinfo__list
            筋トレグッズを中心に出品しています
        .myPage__contentnews
          = render 'news'

%footer
  %list
    %a.item2 プライバシーポリシー
    %a.item2 FURIMA利用規約
    %a.item2 特定商取引に関する表記
    %br
  = link_to image_tag ("material/logo/logo-white.png"), class: "footer__logo"
  %p.copyright ©︎FURIMA
