= render "header"

.mainPage
  .mainPage__box
    .mainBox
      .mainBox__title
        %h5.mainBox__title__header
          支払い方法選択
      // クレジットカードを登録済みの場合の表示
      - if current_user.card.present?
        .mainBox__title__info
          .mainBox__title__info__list
            ■ クレジットカード情報
          .mainBox__title__info__list2
            .number
              = "**** **** **** " + @customer_card.last4
              .expiration_date
                .expiration_date__title
                  有効期限
                .expiration_date__info
                  = @exp_month + " / " + @exp_year
          .FormField__btn
            = link_to "登録クレジットカードで購入する", pay_item_path(@item.id), method: :post, class: "square-btn"
      - else 
        .purchase_none_btn
          // Checkoutのフォームを開く記述
          = form_tag(action: :pay, method: :post) do
            %script.payjp-button{src: "https://checkout.pay.jp", type: "text/javascript" ,"data-text": "新しくクレジットカードを登録する" ,"data-key": "pk_test_4352092f8deb95210dde9e0e",}

= render "footer"