= render "header"
  
.formContent
  .contentFlame
    = form_for @item do |f|
      .image
        .image__block
          .image__block__form
            %h3.imageWordTop
              出品画像
              %span.requireBox
                必須
            %p 最大5枚までアップロードできます
          .image__block__box 
            .image__block__area
              %label.image__block__area__label{for: "item_images_attributes_0_image"}
                .fileBox クリックして画像をアップロード
            .image__prev
              #image-box
                #previews
                  = f.fields_for :item_images do |image|
                    .js-file_group{"data-index" => "#{image.index}"}
                      = image.file_field :image, class: "js-file",id: "item_images_attributes_#{image.index}_image", "data-index" => "#{image.index}"
      .name
        %h3.nameTitle
          商品名
          %span.requireBox
            必須
        .nameForm
          = f.text_field :name, class: "productName", placeholder: "商品名 (必須 40文字まで)"
      .explanation
        %h3.explanationTitle
          商品の説明
          %span.requireBox
            必須

        .explanationForm
          = f.text_area :introduction,class: "explanationForm",placeholder: "商品の説明 (必須 1,000文字以内) (色、素材、重さ、定価、注意点など) 例) 2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。"
          
      .show
        .showTitle
          %h3 商品の詳細
        .showCategory
          .showCategoryDetail
            =f.label 'カテゴリー', class: 'showCategoryTitle'
            %span.requireBox
              必須
            .categoryWrapper
              .categoryWrapper__box
                = f.collection_select(:category_id, @category_parent_array, :id, :name, {prompt: "選択してください"}, {class: 'categoryWrapper__box--select', id: 'parent_category'})

          .showBrand
            %h3.showBrandTitle
              ブランド
              %span.requireBox
                任意
            .showBrandForm
              = f.text_field :brand, class: "brandChoice", placeholder:"例) プラダ"
          .showCondition
            %h3.showConditionTitle
              商品の状態
              %span.requireBox
                必須
            .showConditionForm
              .conditionChoice
                =f.collection_select(:condition_id, Condition.all, :id, :name, {include_blank: "選択してください"}, {class: "conditionChoiceList"})

      .delivery
        .deriveryTitle
          %h3 配送について
        .deliveryPostage
          %h3.deriveryPostageTitle
            配送料の負担
            %span.requireBox
              必須
          .deriveryPostageForm
            .postageChoice
              = f.collection_select(:postage_id, Postage.all, :id, :name, {include_blank: '選択してください'}, {class: "postageChoiceList"})
        
        .deriveryWay
          %h3.deliveryWayTitle
            配送方法
            %span.requireBox
              必須
          .deriveryWayForm
            .wayChoice
              = f.collection_select(:way_id, Way.all, :id, :name, {include_blank:'選択してください'}, {class: "wayChoiceList"})

        .deriveryArea
          %h3.deriveryAreaTitle
            発送元の地域
            %span.requireBox
              必須
          .deriveryAreaForm
            .areaChoice
              = f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank: "選択してください"}, {class: "areaChoiceList"}) 
        .deriveryDay
          %h3.deriveryDayTitle
            発送までの日数
            %span.requireBox
              必須
          .deriveryDayForm              
            .dayChoice
              = f.collection_select(:day_id, Day.all, :id, :name, {include_blank: "選択してください"}, {class: 'dayChoiceList'})
              
      .price
        .priceTitle
          価格 (￥300~9,999,999)
        .priceSellingprice
          %h3.priceSellingpriceTitle
            販売価格
            %span.requireBox
              必須
          .priceSellingSymbol 
            ￥
            = f.number_field :price, placeholder: "金額を入力してください", class: "moneyForm"   
        .priceFee
          .priceFeeTitle
            .priceFeeTitleLeft
              %h3 販売手数料 (10%)
            .priceFeeTitleRight
              %h3 ー
          .priceProfit
            .priceProfitTitleLeft
              %h3 販売利益
            .priceProfitTitleRight
              %h3 ー
        .status
          %h3.statusName
            出品中を選択してください
            %span.requireBox
              必須
            .statusForm
              = f.collection_select(:status_id, Status.all, :id, :name, {include_blank: "選択してください"}, {class: 'statusCheck'})
        
        .button
          = f.submit "出品する", class: "buttonBlue"

          %button{type: "submit", class: "buttonGrey"}
            下書きに保存
          .backToTopPage
            = link_to  "戻る", root_path
        .importantPoint
          %p 禁止されている行為及出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。また、出品をもちまして加盟店規約に同意したことになります。

= render "footer"