.wrapper
  .top
    .header
      .header__top
        = link_to image_tag("material/logo/logo.png", class: "header__top__logo"), root_path
        .header__top__search
          %input{ class: "header__top__search__form", placeholder: "キーワードから探す"}
          %button.header__top__search__btn 
            = image_tag ("material/icon/icon-search 1.png"), class: "header__top__search__btn__icon" 
      .header__bottom
        .header__bottom__nav__left
          .header__bottom__nav__left__category
            カテゴリー
          .header__bottom__nav__left__brand
            ブランド
        .header__bottom__nav__right
          - if user_signed_in?
            .header__bottom__nav__right__mypage
              =link_to "マイページ", "#"
            .header__bottom__nav__right__logout
              =link_to "ログアウト", destroy_user_session_path, method: :delete
          - else
            .header__bottom__nav__right__login
              =link_to "ログイン", new_user_session_path
            .header__bottom__nav__right__registration
              =link_to "新規会員登録", new_user_registration_path

  .header__category
    %ul.headerCategory
      %li.headerCategory__list
        = link_to "FURIMA", root_path
        =icon('fas','chevron-right')
      %li.headerCategory__list
        =link_to "#" do
          = @item.category.parent.parent.name
        =icon('fas','chevron-right')
      %li.headerCategory__list
        =link_to "#" do
          = @item.category.parent.name
        =icon('fas','chevron-right')
      %li.headerCategory__list
        =link_to "#" do
          = @item.category.name

  .main-show
    .itemDetail
      .itemDetail__box
        .itemDetail__box__title
          =@item.name
        .itemDetail__box__image
          %ul.mainimage__up
            - @item.item_images.each do |image|
              %li.images
                = image_tag image.image_url, class: 'item__mainimage', size: '400x400'
          %ul.mainimage__down
            - @item.item_images.each do |image|
              %li.images
                = image_tag image.image_url, class: 'item__mainimage', size: '100x100'
              %li.images
                = image_tag image.image_url, class: 'item__mainimage', size: '100x100'
        .itemDetail__box__price
          %h1.itemprice 
            ¥
            = @item.price
          %span
          = @item.postage[:name]
        .itemDetail__box__introduction
          【商品説明】
          = @item.introduction
        %table
          %tr
            %th 出品者
            %td 
              -# = @item.user.nickname
          %tr
            %th カテゴリー
            %td
              =link_to "#" do
                = @item.category.parent.parent.name
                %br
                =link_to "#" do
                  = @item.category.parent.name
                %br
                =link_to "#" do
                  = @item.category.name
          %tr
            %th ブランド
            %td 
              =@item.brand
          %tr
            %th 商品の状態
            %td 
              = @item.condition[:name]
          %tr 
            %th 配送料の負担
            %td 
              = @item.postage[:name]
          %tr
            %th 発送元の地域
            %td 
              = @item.prefecture[:name]
          %tr
            %th 発送日の目安
            %td 
              = @item.day[:name]

        .itemDetail__box--btn
          
          = submit_tag("購入手続きへ", class: 'purchaseBtn')
          = submit_tag("商品の編集", class: 'purchaseBtn')
          = submit_tag("この商品を削除する", class: 'purchaseBtn')

        -# コメントフォームは実装完了までコメントアウト
        -# .itemDetail__box__comment
        -#   =form_with local: true do |f|
        -#     = f.text_area :comment, class: 'commentText'
        -#     相手のことを考え、丁寧なコメントを心掛けましょう。
        -#     %br
        -#     不快な言葉遣いなどは利用制限や退会処分となることがあります。
        -#     = f.submit "コメントする（未実装）", class: 'commentBtn'



  .bottomDl
    .bottomDl__content
      .bottomDl__content__title
        だれでもかんたん、人生を変えるフリマアプリ
      .bottomDl__content__text
        今すぐ無料ダウンロード！
      .bottomDl__content__icon
      = link_to image_tag ("material/icon/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"), class: "icon--app"
      = link_to image_tag ("material/icon/google-play-badge.png"), class: "icon--google"
  .footer
    .footer__overview
      .footer__overview__list
        %h2.title FURIMAについて
        %p.list
          %a.item 会社概要(運営会社)
          %a.item プライバシーポリシー
          %a.item FURIMA利用規約
          %a.item ポイントに関する特約
      .footer__overview__list
        %h2.title FURIMAを見る
        %p.list
          %a.item カテゴリー一覧
          %a.item ブランド一覧
      .footer__overview__list
        %h2.title ヘルプ&ガイド
        %p.list
          %a.item FURIMAガイド
          %a.item FURIMAロゴ利用ガイドライン
          %a.item お知らせ
    = link_to image_tag ("material/logo/logo-white.png"), class: "footer__logo"
    %p.copyright ©︎FURIMA
  = link_to new_item_path, class: "sellBtn" do
    %p.sellBtn__text 出品する
    = image_tag ("material/icon/icon_camera.png"), class: "sellBtn__icon"