.header2
  .header__top
    = link_to image_tag("material/logo/logo.png", class: "header__top__logo"), root_path
    .header__top__search
      %input{ class: "header__top__search__form", placeholder: "キーワードから探す"}
      %button.header__top__search__btn 
        = image_tag ("material/icon/icon-search 1.png"), class: "header__top__search__btn__icon" 
  .header__bottom
    .header__bottom__nav__left
      .header__bottom__nav__left__category
        =icon('fas','list', class: "category-icon")
        カテゴリー
      .header__bottom__nav__left__brand
        =icon('fas','shopping-bag', class: "brand-icon")
        ブランド
    .header__bottom__nav__right
      - if user_signed_in?
        .header__bottom__nav__right__mypage
          =link_to "マイページ", "/users/#{current_user.id}"
        .header__bottom__nav__right__logout
          =link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        .header__bottom__nav__right__login
          =link_to "ログイン", new_user_session_path
        .header__bottom__nav__right__registration
          =link_to "新規会員登録", new_user_registration_path

.show1
  .show__frame
    .show__frame__title
      登録クレジットカード情報
    .credit_card__list
      .credit_card__list__title
        クレジットカード一覧
      .credit_card__list__frame
        .credit_card_info
          .credit_card_info__brand
            // showメソッドで定義した@card_srcを呼び出し
            // 画像をcardsというフォルダを作り、入れておく
            //= image_tag "cards/#{@card_src}", class: "credit_card_info__brand__img", alt: @card_brand
          .credit_card_info__numbers
            .number
              // Pay.jpから取得したカード番号の末尾４桁を取得
              = "**** **** **** " + @customer_card.last4
            .expiration_date
              .expiration_date__title
                有効期限
              .expiration_date__info
                // showメソッドで定義した有効期限の年と月を取得
                = @exp_month + " / " + @exp_year
        .destroy__function
          .destroy__function__link
            // 削除ボタンを作成、押すとdestroyメソッドが働くように
            = link_to card_path, method: :delete, class: "purchaseBtn__buy" do 
              削除する
      .payment-details
        = link_to "支払い方法について", "", class: "purchaseBtn__buy"

%footer
  %list
    %a.item2 プライバシーポリシー
    %a.item2 FURIMA利用規約
    %a.item2 特定商取引に関する表記
    %br
  = link_to image_tag ("material/logo/logo-white.png"), class: "footer__logo"
  %p.copyright ©︎FURIMA