= render "items/header-mypage"

.mainPage
  .mainPage__box
    .mainBox
      .mainBox__title
        %h5.mainBox__title__header 登録クレジットカード情報
        .mainBox__title__info
          .mainBox__title__info__list
            ■ クレジットカード一覧
          .credit_card__list__frame
            .credit_card_info
              .credit_card_info__brand
                // showメソッドで定義した@card_srcを呼び出し
                // 画像をcardsというフォルダを作り、入れておく
                //= image_tag "cards/#{@card_src}", class: "credit_card_info__brand__img", alt: @card_brand
              .mainBox__title__info__list2
                .number
                  // Pay.jpから取得したカード番号の末尾４桁を取得
                  = "**** **** **** " + @customer_card.last4
                .expiration_date
                  .expiration_date__title
                    有効期限
                  .expiration_date__info
                    // showメソッドで定義した有効期限の年と月を取得
                    = @exp_month + " / " + @exp_year
            .FormField__btn
              // 削除ボタンを作成、押すとdestroyメソッドが働くように
              = link_to card_path, method: :delete, class: "square-btn" do 
                削除する
          -# .payment-details
          -#   = link_to "支払い方法について", "", class: "square-btn"

= render "items/footer"